<h1 class="page-header heading-narrow">Your Egg's Information</h1>
<form class="edit-egg" method="post" action="/egg/<%= @feed.id %>/update">
  <p class="field">
    <label class="label" for="title">Title</label>
    <input class="input" type="text" name="title" id="title" value="<%= @feed.title %>" autofocus>
  </p>

  <p class="field">
    <label class="label" for="context">Exposure</label>
    <select name="location_exposure" id="context">
      <option value="indoor" <%= "selected" if @feed.location_exposure == 'indoor' %>>Indoor</option>
      <option value="outdoor" <%= "selected" if @feed.location_exposure == 'outdoor' %>>Outdoor</option>
    </select>
  </p>

  <p class="field">
    <label class="label" for="elevation">Elevation</label>
    <input class="input" type="text" id="elevation" name="location_ele" value="<%= @feed.location_ele %>">
  </p>

  <!-- location picker -->
  <fieldset class="gllpLatlonPicker" id="edit-location-picker">
    <div class="field">
      <label class="label" for="location-search">Location</label>
      <input class="input input-search gllpSearchField" type="text" id="location-search" placeholder="Search location">

      <div class="edit-map gllpMap"></div>

      <p class="help">Drag the marker or double click the map to refine location</p>

      <input name="location_lat" type="hidden" class="gllpLatitude" value="<%= @feed.location_lat || "51.5081289" %>">
      <input name="location_lon" type="hidden" class="gllpLongitude" value="<%= @feed.location_lon || "-0.12800500000003012" %>">
      <input name="location_name" type="hidden" class="gllpLocationName">
      <input name="location_zoom" type="hidden" class="gllpZoom" value="<%= @feed.location_lat && @feed.location_lon ? 13 : 2 %>">
      <input name="location_saved" type="hidden" class="location-saved" value="<%= @feed.location_lat && @feed.location_lon ? 1 : 0 %>">
    </div>
  </fieldset>

  <input class="button" type="submit" name="submit" value="Save">
</form>
